{% extends 'base.html' %}

{% block content %}
<style>
th,td {
	text-align:center;
}
</style>
<div class="d-flex flex-column overflow-auto h-100 border border-3 border-primary m-1 rounded-4" id="messages" style="overflow-y:scroll;">
	<table class="table h6 border-primary fst-italic">
		<thead>
		<tr>
			<th scope="col" class="col-2 h5 border border-primary border-start-0 border-top-0"><b>ID</b></th>
			<th scope="col" class="col-5 h5 border border-primary border-start-0 border-top-0"><b>NAME</b></th>
			<th scope="col" class="col-1 h5 border border-primary border-start-0 border-top-0"><b>IMAGE</b></th>
			<th scope="col" class="col-1 h5 border border-primary border-start-0 border-top-0 border-end-0"><b>UNBLOCK</b></th>
		</tr>
		</thead>
		<tbody id="tableBody" class="">

		</tbody>
	</table>
	<ul id="membersList"></ul>
</div>

<div class="input-group p-1 justify-content-center">
	<form action="{{url_for('channel')}}" method="get">

					<button class="border-dark border-2 border btn ms-2 btn-primary shadow-sm rounded-3 btn-lg p-3 fw-bold" style="border:none;" type="submit"><b>BACK</b></button>
	</form>
</div>


<script>
	const channelID = "{{channel_id}}";
	const unblockit = '<svg width="35px" height="35px" fill="green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M480 96C515.3 96 544 124.7 544 160L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 160C96 124.7 124.7 96 160 96L480 96zM438 209.7C427.3 201.9 412.3 204.3 404.5 215L285.1 379.2L233 327.1C223.6 317.7 208.4 317.7 199.1 327.1C189.8 336.5 189.7 351.7 199.1 361L271.1 433C276.1 438 283 440.5 289.9 440C296.8 439.5 303.3 435.9 307.4 430.2L443.3 243.2C451.1 232.5 448.7 217.5 438 209.7z"/></svg>';

	function loadMembers() {
	fetch(`/get_all_blocked_members/{{channel_id}}`)
		.then(res => res.json())
		.then(data => {
			const table = document.getElementById('tableBody');
			table.innerHTML = "";
			data.members.forEach(m => {
				const tr = document.createElement('tr');
				const id = document.createElement('td');
				id.classList.add("border");
				id.classList.add("border-primary");
				id.classList.add("border-start-0");
				id.classList.add("border-top-0");

				const username = document.createElement('td');
				username.classList.add("border");
				username.classList.add("border-primary");
				username.classList.add("border-start-0");
				username.classList.add("border-top-0");

				const imgg = document.createElement('img');
				const img_src = "uploads/" + ((m.pfp == undefined || m.pfp == null)?"default_avatar.jpg":m.pfp);				
				imgg.src = img_src;
				imgg.height = '40';
				imgg.width = '40';
				imgg.classList.add("rounded-circle");
				const pfp = document.createElement('td');
				pfp.classList.add("border");
				pfp.classList.add("border-primary");
				pfp.classList.add("border-start-0");
				pfp.classList.add("border-top-0");
				pfp.appendChild(imgg);

				const unblockstat = document.createElement('td');
				unblockstat.innerHTML = `<a href="/channel/${m.ID}/toggle_block">`+unblockit+'</a>';
				id.textContent = m.ID;
				username.textContent = m.username;
				tr.appendChild(id);
				tr.appendChild(username);
				tr.appendChild(pfp);
				tr.appendChild(unblockstat);
				table.appendChild(tr);
			});
		});
	}

	loadMembers();
</script>
{% endblock %}
