{% extends 'base.html' %}

	{% block content %}
	<div class="border-2 d-flex flex-column px-5 ms-5 me-5 my-auto rounded-4 shadow-lg border-primary border">
		<form action="/create" method="post" class="needs-validation" novalidate>
			<p class="text-center fw-bold mt-5 mb-3 h1"><b>YOU WILL JOIN A CHANNEL AS </b><b><i>'{{username}}'</i></b></p>
			<div class="d-flex">
				<div>
					<label class="form-label me-2 mt-2 fw-semibold" for="channel-name">ENTER CHANNEL NAME</label>
					<div class="form-floating mb-1">
						<input type="text" maxlength="20" class="border-2 rounded-3 form-control shadow-sm" style="width:450px;" placeholder="ENTER THE CHANNEL NAME" value ="{{channel_name}}" name="channel-name" required/>
						<div class="invalid-feedback">PLEASE FILL OUT THIS FIELD.</div>
						<label for="channel-name">CHANNEL NAME</label>
					</div>
					<label class="form-label mt-2 fw-semibold" for="passwordInput">ENTER PASSWORD</label>
					<div class="input-group mb-3">
						<input type="text" maxlength="20" class="border-2 form-control shadow-sm rounded-3 me-2" style="resize:none;" maxlength="30" placeholder="PASSWORD" id="passwordInput" name="passwordInput" required/>
						<button class="border-dark btn rounded-3 shadow-sm border-2 btn-secondary" style="" type="button" id="togglePassword">SHOW</button>
					</div>
				</div>

				<div class="ms-3 d-flex flex-column flex-fill">
				<label class="form-label mt-2 fw-semibold" for="channel-description">ENTER CHANNEL DESCRIPTION</label><br>
					<div class="form-floating flex-fill">
						<textarea class="form-control shadow-sm" style="resize:none;height:100%;" id="channel-description" maxlength="255" name="channel-description">{{channel_description}}</textarea>
						<label for="channel-description">CHANNEL DESCRIPTION</label>
					</div> 
				</div>
			</div>

			<div class="input-group d-flex justify-content-center mt-3 mb-4">
				<button style="" type="submit" class="border-dark border-2 rounded-3 shadow-sm btn btn-primary fw-bold btn-lg" value="create" name="action"><b>CREATE</b></button>
		</form> 
				<form action="{{url_for("welcome_screen")}}" method="get">
					<button class="border-dark border border-2 btn ms-2 btn-primary shadow-sm rounded-3 p-3 fw-bold btn-lg" style="border:none;" type="submit"><b>BACK</b></button>
				</form>

			</div>
	</div>
	{% endblock %}
